
.navbar {
  position: fixed;        
  top: 0;
  left: 0;
  width: 98%;            
  background: #1e1e1e;    
  color: #7b2cbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  z-index: 1000%;       
}

.logo {

  font-size: 1.5rem;
  font-weight: bold;
}
